<h1>Bienvenue Admin</h1>
<a routerLink="/messenger">Messagerie</a>

<table class="table">
    <thead>
        <tr>

            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Sexe</th>
        </tr>
    </thead>
    <tbody *ngIf="users; else noUsers;">
        <tr *ngFor="let u of users">

            <td>{{u.lastName}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.sexe}}</td>
        </tr>

    </tbody>
    <ng-template #noUsers>
        <span class="text-danger">Aucun utilisateur trouvé !</span>
    </ng-template>
</table>