<h1 class="text-center">Bienvenue Admin
    <a routerLink="/messenger"><span class="material-symbols-outlined ">
            mail
        </span></a>
</h1>
<table class="table container">
    <thead>
        <tr>

            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody *ngIf="users; else noUsers;">
        <tr *ngFor="let u of users">

            <td>{{u.lastName}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.genre}}</td>
            <button routerLink="/document">Rédiger un document</button>
        </tr>

    </tbody>
    <ng-template #noUsers>
        <span class="text-danger">Aucun utilisateur trouvé !</span>
    </ng-template>
</table>