@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Quicksand:wght@300&display=swap');

h1,
h2,
h3 {
    font-family: 'Grand Hotel', cursive;
    text-align: center;
    font-size: 2.5rem;
}

.profil {
    width: 100%;
}

.profil img {
    width: 20%;
}

#a-propos {
    text-align: center;
    color: green;
}

.d-inline {
    width: 50%;
    text-align: left;
    margin: auto;
}

p {

    font-family: 'Grand Hotel', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}