<h1 class="text-center">Messagerie</h1>


<div class="card text-center mx-auto mb-5" style="width: 18rem;">
    <ul class="list-group list-group-flush">

        <li class="list-group-item">Vous avez ... messages non lu</li>

    </ul>
</div>

<table class="table ">
    <thead class="table table-danger">
        <tr>

            <th scope="col">Email</th>
            <th scope="col">Message</th>

        </tr>
    </thead>
    <tbody *ngIf="messages; else noMessages;">
        <tr *ngFor="let m of messages" class="table-light">

            <td>{{m.email}}</td>
            <td>{{m.message}}</td>

        </tr>


    </tbody>
    <ng-template #noMessages>
        <span class="text-danger">Aucun message trouvé !</span>
    </ng-template>
</table>